body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #252a34;
  /* background-color: #191919; */
}

.nav-links {
  text-align: right;
  position: absolute;
  width: 98%;
  padding-right: 20px; /* Adding padding to the right edge */
  z-index: 2;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  margin-top: 1%;
  margin-right: 2%;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  font-size: 1.3em;
  text-decoration: none;
  /* color: #333; */
  color: #f8f8f8;
  font-weight: bold;
}
@media (max-width: 600px) {
  .nav-links a {
    font-size: 0.9em;
  }
}

.name-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  /* background: linear-gradient(to bottom, #232d3f, #ffffff); */
  /* background: linear-gradient(to bottom,#c9abe4, #ffffff); */
  /* background: linear-gradient(to bottom, #e1f0da, #ffffff); */
  position: relative;
  z-index: 1;
  color: #f8f8f8;
}

.name {
  font-size: 4em;
  margin: 0;
  /* color: #333; */
  margin-top: 20%;
}

.name,
.title,
.description {
  display: block;
}
.title {
  margin-bottom: 0px;
  font-size: 1.8em;
  /* color: #333; */
}

.description {
  margin-top: 0px;
  font-size: 1.2em;
  /* color: #666; */
}

section {
  padding: 40px;
  text-align: center;
}

section h1 {
  color: aliceblue;
}

section h2 {
  color: #333;
}

.project {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.project h3 {
  color: #333;
}

nav a {
  color: #333; /* Change this to whatever color you want */
  text-decoration: none; /* Removes the underline */
  margin: 0 10px; /* Adds some space around the links */
  transition: color 0.3s ease; /* Makes the color change smoothly */
}

nav a:hover {
  color: #666; /* Change this to whatever color you want when hovering */
}

nav a.active {
  color: #000; /* Change this to whatever color you want for the active link */
  font-weight: bold; /* Makes the active link bold */
}

/* Media Query for Small Screens (Mobile) */
@media only screen and (max-width: 768px) {
  .nav-links {
    text-align: center; /* Center-align navigation links on small screens */
  }
  .name {
    margin: 0;
  }
  .nav-links {
    text-align: right;
  }
  /* .nav-links ul {
      margin: 0;
      padding: 0;
  } */
  .nav-links li {
    margin: 2px;
    font-size: 1.1em;
    padding: 10px 1px; /* Add margin between navigation links */
  }
}

.project-images {
  display: flex;
  justify-content: space-between;
}

.project-images img {
  width: 30%;
  height: auto;
}

.project-images-two {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.project-images-two img {
  width: 45%;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  width: 45%; /* Adjust this value as needed */
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  font-family: Arial, sans-serif; /* Change the font */
  background-color: #f8f8f8;
}

.link img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.link a {
  color: #008248; /* Change the link color */
  text-decoration: none; /* Remove the underline */
}

@media (max-width: 600px) {
  .link {
    width: 80%; /* each box will cover 80% of the screen */
    margin: 1em auto; /* centers the box and adds margin to the top and bottom */
    font-size: 14px; /* adjust this value to change the font size on small screens */
    overflow-wrap: break-word; /* this will break the link onto the next line if it's too long */
  }
}

.project p {
  font-family: "Roboto", sans-serif;

  font-size: 1.1em; /* Adjust the font size */
  line-height: 1.6; /* Adjust the line height for better readability */
  color: #333; /* Adjust the font color */
  /* text-align: justify; Align the text to both left and right margins */
  margin-bottom: 1em; /* Add some space below each paragraph */
}
